<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Single Page Word Search App. From a jumble of letters and random words, find the coordinates of each word. Display them in Node.js"
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Word Search Node.js</title>
        <!-- custom css -->     
        <link rel="stylesheet" type="text/css" href="./stylesheets/template.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/tailored.css">
        <!-- load external script -->            
        <script type="text/javascript" src="./js/external/jquery.min.js">
        </script>
         <!-- customized js script -->
        <script type="text/javascript" src="./js/scripts/script.js"></script>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div id='header' class='c11 o1'>
                    <div id='title' class='c7 o1'>
                        <h3>Word Search</h3>
                        <button class='answers'>Answers</button>
                        <h4>Click on the first and last letter!</p>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div id='middle' class='middle 10 o1'>
                    <div class='letterList'>
                        <table>
                            <tbody>
                                <%  for(var i=0; i < letters.length; i++){             %>
                                    <tr>
                                <%      for(var j=0; j < letters[i].length; j++){      
                                        var iString = i.toString();
                                        var jString = j.toString();        %>
                                        <td id='x<%=i%>y<%=j%>' class='<%=j%>,<%=i%>'><%=letters[i][j]%></td>
                                <%      }                                       %>
                                    </tr>
                                <%  }                                           %>
                            </tbody>
                        </table>
                    </div>
                    <div class='wordList'>
                        <h3>Find Words</h3>
                        <ul>
                    <%      for(var i=0; i < results.length; i++){  
                        console.log(results[i]);
                                 %>
                            <li class='<%=results[i].word%>'><%=results[i].word%></li>
                    <%   }                                      %>
                        </ul>
                        <div class='arrow-down'></div>
                    </div>
                </div>
            </div>
            <div class='row'>
                  <div id='answers-container' class='c10 o1'>
                        <table>
                            <thead> 
                                <tr>
                                    <th>Word</th>
                                    <th>YCoordinate</th>
                                    <th>XCoordinate</th>
                                    <th>Direction</th>
                                </tr>
                            </thead>
                            <tbody id='answers'></tbody>
                        </table>
                  </div>              
            </div>
        </div>
    </body>
</html>